/* style.css - Arquivo principal */
:root{
    --cor-de-fundo:#ecf0f1;
}
*{
    margin: 0px;
}
body{
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.conteiner{
    display: grid;
    grid-template-columns: 3;
    grid-template-areas: 
    'header header header'
    'main    main    main'
    'footer  footer  footer'
    ;
}
