:root{
    --cor-do-header:#ffffff;
    --link:#3498db ;
    --botao:#48762e;
    --teste:#354d2a ;
}
h1{
    font-size: 2rem;
    margin-bottom: 5px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section > section{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 3rem;
    margin-left: 1.5rem;
    justify-content: center;
}
section > form{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-do-header);
    padding: 2rem;
    height: 523px;
    border-radius: 15px;
}
form > input{
    padding: 0.75rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
form select{
    padding: 0.75rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section > .mapa{
    height: 523px;
}
.mapa > h3{
    margin: 5px;
}
.mapa p{
    margin-bottom: 25px;
}
/*main{
    display: flex;
    align-items: center;
    justify-content: center;
}
main > section{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 3rem;
}
section > form{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-do-header);
    padding: 2rem;
    height: 523px;
} */ 
