/* AQUI é onde fica o form eu usei flex tambem não tem muito que falar pois não tem muita complexidade */
.section > section{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 3rem;
    margin-left: 1.5rem;
    justify-content: center;
}
section > form{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-do-header);
    padding: 2rem;
    height: 523px;
    border-radius: 15px;
}
form > input{
    padding: 0.75rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
form select{
    padding: 0.75rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
textarea{
    height: 40%;
}