/*Aqui foi simples de fazer ate, e ficou bem responsivo sem necessariamente ter que usar @media  aqui a parte mais diferente do codigo é o hover que eu coloquei nos links de navegação para que quando passar o mouse em ciman ele fica verde e a linha aparece logo abaixo*/
header{
    background-color: var(--cor-do-header);
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header > nav > a{
    font-weight: bold;
    color: var(--teste);
    
}
header > nav > a > span{
    color: var(--botao);
}
nav a {
    padding: 1rem 0.5rem;
    text-decoration: none;
    color: black;
}
nav > div > a:hover {
    color: var(--botao);
    transition: color 0.5s ease;
    text-decoration: underline;
}