a{
    text-decoration: none;
    color: var(--cor-do-header);
}
button{
    background: none;
}
.fotos h1{
    font-size: 2rem;
}
.fotos{
    display: grid;
    place-items: center;
    gap: 30px;
    margin-bottom: 60px;
}
.cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.positionrelative{
    position: relative;
    height: 250px; 
    overflow: hidden;
    border-radius: 10px;
}

.position{
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 1;
}
.positionrelative > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.positionrelative > button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    z-index: 2; 
    background-color: none; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.position > h3{
    margin-top: 15px;
}
.position > span {
    margin-top: 10px;
    padding: 4px 10px;
    background-color: rgb(109, 243, 109);
    color: var(--botao);
    font-size: 0.75rem;
    border-radius: 5px;
    
}
@media (max-width: 576px) {
    .cursos {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .cursos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .cursos {
        grid-template-columns: repeat(3, 1fr);
    }
}
